.flash-area
  - if flash[:alert]
    = flash[:alert]

.edit-user-area
  .avatar-area
    = image_tag @user.avatar
  .user_display-name-area
    = @user.display_name

.user-edit-area
  = form_with url: user_path(@user.name), method: :patch, local:true do |form|
    %ul
      %li.edit-item
        = form.label :'アバター:'
        = form.file_field :avatar
      %li.edit-item
        = form.label :'表示名:'
        = form.text_field :display_name, maxlength: '30', :value => @user.display_name
      %li.edit-item
        = form.label :'プロフィール:'
        = form.text_area :profile, maxlength: '150', :value => @user.profile
    = form.submit '更新', class: 'user-btn'