.edit-result
  - if flash[:alert]
    = flash[:alert]
.content
  %h1 
    = @user.display_name
  %p
    = "@#{@user.name}"
  = form_with url: user_path(@user.name), method: :patch, local:true do |form|
    .input 
      .displayname-area
        = form.label :表示名
        = form.text_field :display_name, maxlength: '50', :value => @user.display_name
      .prifile-area
        = form.label :プロフィール
        = form.text_area :profile, maxlength: '150', :value => @user.profile
        %br
        = form.file_field :avatar
      = form.submit '更新', class: 'edit-btn'