.content
  %h1 新規追加
  - @user.errors.full_messages.each do |message|
    = message
  = form_with url: 'users/create' do |form|
    .input 
      .name
        = form.label :name
        = form.text_field :name
      .pass
        = form.label :password
        = form.password_field :password
    = form.submit '新規追加', class: 'btn-square'