.form-area
  %h1 新規追加
  = form_with url: register_path ,local:true do |form|
    %div
      %div
        = form.label :name
        = form.text_field :name, maxlength:'20',:value => @name
      .pass
        = form.label :password
        = form.password_field :password
    = form.submit '新規追加', class: 'btn-square'