.user-info-area
  .info-area
    .avatar-area
      = image_tag @user.avatar
      - if current_user?(@user)
        = link_to '退会', delete_user_path, class: 'user-btn'
        = link_to '編集', edit_user_path, class: 'user-btn'
    .display_name-area
      %div
        = @user.display_name
    .username-area
      %div
        = "@#{@user.name}"
    .profile-area
      %div
        = @user.profile
.post-info-area
  - @posts.each do |post| 
    .posts-area
      .title-area
        .time-area
          %div
            = post.created_at.to_s(:datetime_jp)
        .text-area
          %div
            = link_to post.title, user_show_post_path(@user.name,post.title,post.number)
      .content-area
        .content-text
          = post.content
  = paginate @posts
