!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title RailsDocker
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_pack_tag 'application'
    %body
      .wrapper
        %header
          %h1.title 
            = link_to 'blogapp', root_path
          %ul
            %li.menu_item 
              = link_to 'Home', root_path
            %li.menu_item 
              = link_to 'about', about_path
            -if session[:user_id].blank?
              %li.menu_item 
                = link_to 'Login', login_path
              %li.menu_item 
                = link_to '新規登録', register_path
            -else
              %li.menu_item 
                = link_to 'Logout', logout_path, method: :delete
              %li.menu_item
                = link_to '新規投稿', blogs_new_path
              %li.menu_item
                = link_to  "/users/#{current_user.name}" do
                  = image_tag current_user.avatar, :size  => "64x64" 
  =yield